<div
  class="w-full cursor-pointer overflow-hidden rounded-xl bg-white p-3 shadow transition-all duration-500 hover:shadow-md"
>
  <div class="flex flex-col items-center justify-center gap-4">
    <div class="relative h-24 w-24">
      <img src="https://halo.run/logo" class="h-full w-full rounded-full" />
      <span
        class="absolute right-0 bottom-0 flex h-7 w-7 items-center justify-center rounded-full border bg-white p-0.5"
      >
        🌚
      </span>
    </div>
    <div><h1 class="text-2xl font-medium" th:text="${site.title}"></h1></div>
    <div>
      <p
        class="text-center text-sm text-gray-700"
        th:text="${site.subtitle}"
      ></p>
    </div>
    <div class="grid grid-cols-4 gap-5">
      <div class="inline-flex flex-col items-center">
        <span class="text-xl font-medium tabular-nums text-gray-900">97</span
        ><span class="text-xs font-light text-gray-600">文章数</span>
      </div>
      <div class="inline-flex flex-col items-center">
        <span class="text-xl font-medium tabular-nums text-gray-900">18</span
        ><span class="text-xs font-light text-gray-600">分类数</span>
      </div>
      <div class="inline-flex flex-col items-center">
        <span class="text-xl font-medium tabular-nums text-gray-900">117</span
        ><span class="text-xs font-light text-gray-600">评论数</span>
      </div>
      <div class="inline-flex flex-col items-center">
        <span class="text-xl font-medium tabular-nums text-gray-900">92392</span
        ><span class="text-xs font-light text-gray-600">访问量</span>
      </div>
    </div>
    <div class="grid grid-cols-6 items-center gap-5">
      <div
        class="flex cursor-pointer items-center justify-center rounded p-1 hover:bg-gray-100"
      >
        <span
          data-icon="simple-icons:wechat"
          class="iconify text-[#07C160]"
        ></span>
      </div>
      <div
        class="flex cursor-pointer items-center justify-center rounded p-1 hover:bg-gray-100"
      >
        <span
          data-icon="simple-icons:bilibili"
          class="iconify text-[#00A1D6]"
        ></span>
      </div>
      <div
        class="flex cursor-pointer items-center justify-center rounded p-1 hover:bg-gray-100"
      >
        <span
          data-icon="simple-icons:github"
          class="iconify text-[#181717]"
        ></span>
      </div>
      <div
        class="flex cursor-pointer items-center justify-center rounded p-1 hover:bg-gray-100"
      >
        <span
          data-icon="simple-icons:twitter"
          class="iconify text-[#1DA1F2]"
        ></span>
      </div>
      <div
        class="flex cursor-pointer items-center justify-center rounded p-1 hover:bg-gray-100"
      >
        <span
          data-icon="simple-icons:telegram"
          class="iconify text-[#26A5E4]"
        ></span>
      </div>
      <div
        class="flex cursor-pointer items-center justify-center rounded p-1 hover:bg-gray-100"
      >
        <span
          data-icon="simple-icons:feedly"
          class="iconify text-[#2BB24C]"
        ></span>
      </div>
    </div>
  </div>
</div>
