<div
  class="w-full cursor-pointer overflow-hidden rounded-xl bg-white p-3 shadow transition-all duration-500 hover:shadow-md dark:bg-slate-800"
>
  <h2 class="inline-flex items-center gap-2 text-base dark:text-slate-50">
    <span data-icon="tabler:tags" class="iconify text-lg"></span>
    标签
  </h2>
  <div class="mt-2 flex flex-wrap gap-2" th:with="tags = ${tagFinder.listAll()}">
    <a
      th:each="tag : ${tags}"
      th:href="@{${tag.status.permalink}}"
      th:title="${tag.spec.displayName}"
      class="rounded bg-gray-100 dark:bg-slate-600 px-1 py-0.5 text-sm text-gray-900 hover:bg-gray-200 dark:hover:bg-slate-700 dark:text-slate-50 dark:hover:text-slate-100"
      href="#"
    >
      <th:block th:text="'#'+${tag.spec.displayName}" />
      <sup th:text="${tag.status.visiblePostCount}"></sup>
    </a>
  </div>
</div>
