<button 
  id="goTopBtn"
  class="backToTop" 
  onclick="main.backToTop()">
  <span class="i-bx-arrow-to-top text-lg inline-flex items-center gap-2 text-base dark:text-slate-50"></span>
</button>
<style>
  .backToTop {
    position: fixed;
    right: 25px;
    bottom: 125px;
    border-radius: 50%;
    background-color: #cccccc;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0.3;
    font-size: 25px;
  }
  .backToTop:hover{
    opacity: 1;
  }
  html,
  body {
    scroll-behavior: smooth;
  }
</style>