<div
  id="filters"
  class="flex gap-x-2 overflow-x-auto overflow-y-hidden scroll-smooth"
>
  <a
    href="/"
    class="flex cursor-pointer items-center rounded px-2 py-1 font-semibold text-gray-500 transition-all hover:bg-gray-100 hover:text-gray-900 hover:shadow-sm"
    th:classappend="${category == null} ? '!text-gray-900 !bg-gray-100'"
  >
    <div class="flex flex-1 items-center truncate">
      <span class="truncate text-base"> 全部 </span>
    </div>
  </a>
  <th:block th:with="categories = ${categoryFinder.listAll()}">
    <a
      th:each="categoryItem : ${categories}"
      th:href="${categoryItem.status.permalink}"
      class="flex cursor-pointer items-center rounded px-2 py-1 font-semibold text-gray-500 transition-all hover:bg-gray-100 hover:text-gray-900 hover:shadow-sm"
      th:classappend="${category} and ${category.metadata.name == categoryItem.metadata.name} ? '!text-gray-900 !bg-gray-100'"
    >
      <div class="flex flex-1 items-center truncate">
        <span class="truncate text-base" th:text="${categoryItem.spec.displayName}">
        </span>
      </div>
    </a>
  </th:block>
</div>
