<ul th:fragment="next (categories)" class="my-3 ml-3 space-y-1 border-l pl-2">
  <li th:fragment="single (categories)" th:each="category : ${categories}">
    <a
      th:href="@{${category.status.permalink}}"
      th:title="${category.spec.displayName}"
      class="group flex items-center justify-between rounded py-1 px-1.5 transition-all hover:bg-gray-100"
    >
      <span class="text-sm opacity-80" th:text="${category.spec.displayName}"> </span>
      <span
        class="rounded bg-gray-100 py-0.5 px-1 text-xs opacity-70 group-hover:bg-white"
      th:text="${category.status.visiblePostCount}"
      >
      </span>
    </a>
    <th:block th:if="${not #lists.isEmpty(category.children)}">
      <th:block th:replace="~{modules/category-tree :: next (categories=${category.children})}"></th:block>
    </th:block>
  </li>
</ul>
