<div th:with="social_medias = ${theme.config.footer.social_media}" class="mt-4 flex justify-center space-x-6 sm:mt-0">
  <th:block th:each="social_media : ${social_medias}">
    <a
      th:if="${social_media.url_type == 'normal'}"
      th:href="${social_media.url}"
      class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
      th:title="${social_media.name}"
    >
      <div th:classappend="${social_media.icon}" class="size-5"></div>
    </a>
    <span
      th:if="${social_media.url_type == 'image'}"
      th:attr="x-data=|{openImageModal:false,image: '${social_media.url}', alt: '${social_media.name}'}|"
      class="cursor-pointer text-gray-500 hover:text-gray-900 dark:hover:text-white"
    >
      <div th:classappend="${social_media.icon}" class="size-5" @click="openImageModal = true"></div>
      <th:block th:replace="~{modules/image-view-modal}" />
    </span>
  </th:block>
</div>
