<header>
  <div
    th:fragment="header (isHome, cover, title)"
    th:with="menu = ${menuFinder.getDefault()}"
  >
    <div
      id="header-menu"
      class="flex h-14 bg-white py-3 shadow-sm transition-all"
    >
      <div class="container mx-auto flex justify-between">
        <div class="flex items-center gap-6">
          <div class="mr-2">
            <a href="/">
              <img
                src="https://halo.run/upload/2022/03/logo.svg"
                class="h-14 w-14"
              />
            </a>
          </div>
          <ul
            th:if="${menu != null} and ${not #lists.isEmpty(menu.menuItems)}"
            class="hidden items-center gap-8 sm:flex"
          >
            <li
              th:each="menuItem : ${menu.menuItems}"
              class="cursor-pointer text-sm font-medium text-gray-600 transition-all hover:text-blue-600"
            >
              <a
                th:href="${menuItem.status.href}"
                th:text="${menuItem.status.displayName}"
              ></a>
            </li>
          </ul>
        </div>
        <div class="flex items-center">
          <ul class="flex items-center gap-4">
            <li class="text-gray-900 sm:hidden" x-on:click="overlayMenu = true">
              <span data-icon="tabler:menu-2" class="iconify text-lg"></span>
            </li>
            <li class="text-gray-900">
              <span
                data-icon="tabler:brightness-2"
                class="iconify text-lg"
              ></span>
            </li>
            <li class="text-gray-900">
              <span data-icon="tabler:search" class="iconify text-lg"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      th:if="${theme.config.layout.header_widget != 'none'} and ${isHome}"
      class="bg-cover bg-center bg-no-repeat"
      th:styleappend="${theme.config.layout.header_background_type == 'image' ? 'background-image: url(' + theme.config.layout.header_background_image + ');' : 'background: ' + theme.config.layout.header_background + ';'}"
      th:classappend="${theme.config.layout.header_widget == 'site_title' ? 'h-96' : ''}"
    >
      <div
        th:if="${theme.config.layout.header_widget == 'latest_post'}"
        class="container mx-auto py-6"
        th:with="posts = ${postFinder.getByName('5152aea5-c2e8-4717-8bba-2263d46e19d5')}"
      >
        <th:block
          th:replace="modules/featured-post-card :: featured-post-card(post=${posts})"
        />
      </div>
      <div
        th:if="${theme.config.layout.header_widget == 'site_title'}"
        class="container mx-auto flex h-full flex-col items-center justify-center gap-3 py-6"
      >
        <span class="text-5xl text-white" th:text="${site.title}"></span>
        <span
          class="text-sm font-light text-white opacity-50"
          th:text="${site.subtitle}"
        ></span>
      </div>
    </div>
    <div
      th:if="${theme.config.layout.content_header} and ${not #strings.isEmpty(cover)}"
      class="h-96 bg-cover bg-center bg-no-repeat"
      th:style="'background-image: url('+${cover}+')'"
    >
      <div
        class="container mx-auto flex h-full flex-col items-center justify-center gap-3 py-6"
      >
        <span class="text-5xl text-white" th:text="${title}"></span>
      </div>
    </div>
  </div>
</header>
