<header>
  <div th:fragment="header (isHome, cover, title)" th:with="menu = ${menuFinder.getDefault()}">
    <div id="header-menu" class="flex h-14 bg-white py-3 shadow-sm transition-all">
      <div class="container mx-auto flex h-full justify-between">
        <div class="flex h-full items-center gap-6">
          <div class="mr-2 h-full">
            <a href="/" class="h-full">
              <img th:src="${site.logo}" th:alt="Logo" class="h-full w-full" />
            </a>
          </div>
          <ul
            th:if="${menu != null} and ${not #lists.isEmpty(menu.menuItems)}"
            class="hidden items-center gap-8 sm:flex"
          >
            <li
              th:each="menuItem : ${menu.menuItems}"
              class="relative cursor-pointer text-sm font-medium transition-all"
              x-data="{
                show: false,
                timer: undefined,
                open: function() {
                  if(this.timer) {
                    clearTimeout(this.timer);
                  }
                  this.show = true
                },
                close: function() {
                  this.timer = setTimeout(() => this.show = false, 300);
                }
              }"
              @mouseenter="open()"
              @mouseleave="close()"
            >
              <a
                class="text-gray-600 hover:text-blue-600"
                th:href="${menuItem.status.href}"
                th:text="${menuItem.status.displayName}"
              ></a>
              <ul
                th:if="${not #lists.isEmpty(menuItem.children)}"
                @mouseenter="open()"
                @mouseleave="close()"
                x-show="show"
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
                class="menu-dropdown absolute left-0 z-10 mt-2 w-40 divide-y divide-gray-50 overflow-hidden rounded bg-white shadow"
              >
                <li
                  th:each="childMenuItem : ${menuItem.children}"
                  class="flex w-full items-center text-left text-sm hover:bg-gray-50"
                >
                  <a
                    class="h-full w-full truncate px-4 py-2 text-gray-600 hover:text-blue-600"
                    th:href="${childMenuItem.status.href}"
                    th:text="${childMenuItem.status.displayName}"
                  ></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="flex items-center">
          <ul class="flex items-center gap-4">
            <li class="sm:hidden" x-on:click="overlayMenu = true">
              <a href="#" class="text-gray-600 hover:text-blue-600">
                <span data-icon="tabler:menu-2" class="iconify text-lg"> </span>
              </a>
            </li>
            <li>
              <a href="#" class="text-gray-600 hover:text-blue-600">
                <span data-icon="tabler:brightness-2" class="iconify text-lg"></span>
              </a>
            </li>
            <li>
              <a href="#" class="text-gray-600 hover:text-blue-600">
                <span data-icon="tabler:search" class="iconify text-lg"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      th:if="${theme.config.layout.header_widget != 'none'} and ${isHome}"
      class="bg-cover bg-center bg-no-repeat"
      th:styleappend="${theme.config.layout.header_background_type == 'image' ? 'background-image: url(' + theme.config.layout.header_background_image + ');' : 'background: ' + theme.config.layout.header_background + ';'}"
      th:classappend="${theme.config.layout.header_widget == 'site_title' ? 'h-96' : ''}"
    >
      <th:block th:switch="${theme.config.layout.header_widget}">
        <th:block th:case="latest_post" th:with="posts = ${postFinder.list(1,1)}">
          <div class="container mx-auto py-6" th:if="${posts.total gt 0}">
            <th:block th:replace="modules/featured-post-card :: featured-post-card(post=${posts.items[0]})" />
          </div>
        </th:block>
        <th:block th:case="latest_post_grid" th:with="posts = ${postFinder.list(1,5)}">
          <div class="container mx-auto grid grid-cols-1 gap-3 py-6 sm:grid-cols-5" th:if="${posts.total gt 0}">
            <div class="col-span-1 sm:col-span-3">
              <th:block
                th:replace="modules/post-card :: post-card(post=${posts.items[0]},cover=true,animation=false,border=false,direction='row')"
              />
            </div>
            <div class="col-span-1 grid grid-cols-1 gap-3 sm:col-span-2 sm:grid-cols-2">
              <th:block th:each="post,postStat : ${posts.items}">
                <th:block th:if="${postStat.index != 0}">
                  <th:block
                    th:replace="modules/post-card :: post-card(post=${post},cover=false,animation=false,border=false,direction='row')"
                  />
                </th:block>
              </th:block>
            </div>
          </div>
        </th:block>
        <th:block th:case="site_title">
          <div class="container mx-auto flex h-full flex-col items-center justify-center gap-3 py-6">
            <span class="text-5xl text-white" th:text="${site.title}"></span>
            <span class="text-sm font-light text-white opacity-50" th:text="${site.subtitle}"></span>
          </div>
        </th:block>
      </th:block>
    </div>
    <div
      th:if="${theme.config.layout.content_header} and ${not #strings.isEmpty(cover)}"
      class="h-96 bg-cover bg-center bg-no-repeat"
      th:style="'background-image: url('+${cover}+')'"
    >
      <div class="container mx-auto flex h-full flex-col items-center justify-center gap-3 py-6">
        <span class="text-5xl text-white" th:text="${title}"></span>
      </div>
    </div>
  </div>
</header>
