<!DOCTYPE html>
<html lang="en" th:fragment="html (content,head,footer,contentClass)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title th:text="${site.title}"></title>
    <link
      rel="stylesheet"
      th:href="@{/assets/dist/style.css}"
      href="./assets/dist/style.css"
    />
    <script th:src="@{/assets/dist/main.iife.js}"></script>
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block>
  </head>
  <body>
    <th:block th:replace="modules/header" />
    <section class="container mx-auto"></section>
    <section
      class="container mx-auto mt-6 grid grid-cols-4 gap-6"
      th:classappend="${contentClass}"
    >
      <div class="col-span-4 sm:col-span-3">
        <th:block th:replace="${content}" />
      </div>
      <th:block th:replace="modules/sidebar" />
    </section>
    <th:block th:replace="modules/footer" />
    <th:block th:if="${footer != null}">
      <th:block th:replace="${footer}" />
    </th:block>
  </body>
</html>
