<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '归档 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}"
>
<th:block th:fragment="content">
  <div class="rounded-xl bg-white p-4 dark:bg-slate-800">
    <h1 class="mb-3 text-2xl font-medium dark:text-slate-50">归档</h1>
    <div class="flex flex-col gap-4">
      <th:block th:each="archive : ${archives.items}">
        <th:block th:each="month : ${archive.months}">
          <div class="flex flex-row gap-4">
            <div class="basis-1/4">
              <h2 class="mt-2 text-lg font-medium dark:text-slate-50" th:text="${archive.year + '年' + month.month + '月'}"></h2>
            </div>
            <div class="basis-3/4">
              <a th:each="post : ${month.posts}" th:href="${post.status.permalink}" target="_self">
                <div class="my-2 rounded border border-gray-300 bg-white px-5 py-4 shadow-sm hover:border-gray-400 hover:shadow dark:border-slate-600 dark:bg-slate-700 dark:hover:border-slate-700">
                  <div class="min-w-0 flex-1 grid grid-cols-12 gap-4">
                    <div class="col-span-7 flex flex-nowrap gap-2">
                        <h1
                          class="truncate text-xl font-medium text-gray-900 dark:text-slate-100"
                          th:text="${post.spec.title}"
                        ></h1>
                      <div class="inline-flex items-center gap-1 text-xs text-gray-600 dark:text-slate-500 align-bottom">
                        <span class="i-tabler-eye"></span>
                        <span th:text="${post.stats.visit}" class="tabular-nums"> </span>
                      </div>
                    </div>
                    <div class="col-start-11 col-span-3">
                      <p
                        class="truncate text-sm font-medium text-gray-900 dark:text-slate-100"
                        th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
                      ></p>
                    </div>
                  </div>
                  <div class="flex flex-col gap-1.5">
                    <div class="flex-wrap !gap-y-1">
                      <th:block th:if="${not #lists.isEmpty(post.categories)}">
                        <span class="inline-flex flex-wrap gap-1 text-sm text-gray-900 dark:text-slate-100">
                          分类：
                        </span>
                        <th:block th:each="category : ${post.categories}">
                          <a
                            th:href="@{${category.status.permalink}}"
                            th:title="${category.spec.displayName}"
                            th:text="${category.spec.displayName}"
                            class="inline-flex flex-wrap gap-1 rounded bg-gray-100 px-1 py-0.5 text-sm text-gray-900 hover:bg-gray-200 dark:bg-slate-600 dark:text-slate-50 dark:hover:bg-slate-700 dark:hover:text-slate-100"
                          >
                          </a>
                        </th:block>
                      </th:block>
                      <th:block th:if="${not #lists.isEmpty(post.tags)}">
                        <span class="inline-flex flex-wrap gap-1 text-sm text-gray-900 dark:text-slate-100">
                        标签：
                        </span> 
                        <th:block th:each="tag : ${post.tags}">
                          <a
                            th:href="@{${tag.status.permalink}}"
                            th:title="${tag.spec.displayName}"
                            th:text="|#${tag.spec.displayName}|"
                            class="inline-flex flex-wrap gap-1 rounded bg-gray-100 px-1 py-0.5 text-sm text-gray-900 hover:bg-gray-200 dark:bg-slate-600 dark:text-slate-50 dark:hover:bg-slate-700 dark:hover:text-slate-100"
                          >
                          </a>
                        </th:block>
                      </th:block>
                    </div>
                  </div>
                  <div class="inline-flex flex-wrap gap-1 text-xs text-gray-500 break-words text-gray-500 dark:text-slate-100">
                    <th:block th:text="${post.status.excerpt}"></th:block>
                </div>
                </div>
              </a>
            </div>
          </div>
        </th:block>
      </th:block>
    </div>
  </div>
  
  <div th:if="${archives.total == 0}" class="mt-6 flex items-center justify-center">
    <span class="text-sm font-light text-gray-600">当前没有文章</span>
  </div>
  
  <div class="mt-6 flex items-center justify-between" th:if="${archives.hasPrevious() || archives.hasNext()}">
    <a
      th:href="@{${archives.prevUrl}}"
      class="whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white"
    >
      <span class="i-tabler-arrow-left text-lg transition-all group-hover:-translate-x-1"></span>
      <span>上一页</span>
    </a>
    <span class="text-sm text-gray-900 dark:text-slate-50" th:text="|${archives.page} / ${archives.totalPages}|"></span>
    <a
      th:href="@{${archives.nextUrl}}"
      class="whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white"
    >
      <span>下一页</span>
      <span class="i-tabler-arrow-right text-lg transition-all group-hover:translate-x-1"></span>
    </a>
  </div>
</th:block>
</html>
