<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="modules/layout :: html(header = ~{::header}, content = ~{::content}, head = null, footer = ~{::footer}, sidebar = null, contentClass = ${theme.config.layout.content_header} and ${not #strings.isEmpty(singlePage.spec.cover)} ? '!-mt-20' : '')"
>
  <th:block th:fragment="header">
    <th:block
      th:replace="modules/header :: header(isHome = false, cover = ${singlePage.spec.cover}, title = ${singlePage.spec.title})"
    />
  </th:block>
  <th:block th:fragment="content">
    <div class="rounded-xl bg-white p-4">
      <div class="flex items-center justify-between">
        <div class="inline-flex items-center justify-start gap-2" th:with="contributor = ${singlePage.contributors[0]}">
          <img th:src="${contributor.avatar}" th:alt="${contributor.displayName}" class="h-10 w-10 rounded-full" />
          <div class="flex flex-col gap-0.5">
            <span class="text-sm font-semibold text-gray-900" th:text="${contributor.displayName}"></span>
            <div class="flex items-center gap-2 text-xs font-light text-gray-600">
              <span th:text="${'发布于 '+#dates.format(singlePage.spec.publishTime,'yyyy-MM-dd')}"></span>
              <span class="text-gray-300">/</span>
              <span th:text="${singlePage.stats.visit}+' 阅读'"></span>
              <span class="text-gray-300">/</span>
              <span th:text="${singlePage.stats.comment}+ ' 评论'"> </span>
              <span class="text-gray-300">/</span>
              <span th:text="${singlePage.stats.upvote}+' 点赞'"> </span>
            </div>
          </div>
        </div>
        <div class="inline-flex flex-row gap-1">
          <div class="cursor-pointer rounded-lg p-1 hover:bg-gray-100">
            <span data-icon="tabler:heart" class="iconify text-lg text-gray-600 hover:text-red-600"></span>
          </div>
          <a href="#comment" class="cursor-pointer rounded-lg p-1 hover:bg-gray-100">
            <span data-icon="tabler:message-circle" class="iconify text-lg text-gray-600 hover:text-gray-900"></span>
          </a>
          <div class="cursor-pointer rounded-lg p-1 hover:bg-gray-100">
            <span data-icon="tabler:share" class="iconify text-lg text-gray-600 hover:text-blue-600"></span>
          </div>
        </div>
      </div>
      <h1 class="my-3 text-2xl font-medium" th:text="${singlePage.spec.title}"></h1>
      <article class="prose prose-base mt-4 !max-w-none" th:utext="${singlePage.content.content}"></article>
      <hr class="my-10" />
      <h2 class="mb-2 text-base font-medium text-gray-900">评论</h2>
      <halo:comment group="content.halo.run" kind="SinglePage" th:attr="name=${singlePage.metadata.name}" />
    </div>
  </th:block>
</html>
