<include src="layout.html">
  <template name="head">
    <title
      th:text="${error.status} + ' | ' + ${#strings.defaultString(error.title, 'Internal server error')} + ' - ' +${site.title}"
    ></title>
  </template>

  <template name="hero">
    <th:block th:replace="~{modules/hero :: hero(isHome = true, cover = null, title = null)}" />
  </template>

  <section class="mx-auto mt-6 grid max-w-7xl grid-cols-1 gap-6 px-4 md:grid-cols-[1fr_18rem] lg:px-6">
    <div class="z-0 min-w-0">
      <section class="flex items-center dark:bg-gray-900 dark:text-gray-100">
        <div class="container mx-auto my-8 flex flex-col items-center justify-center px-5">
          <div class="max-w-md text-center">
            <h2 class="mb-8 text-9xl font-extrabold dark:text-gray-600" th:text="${error.status}"></h2>
            <p
              class="mb-8 text-2xl font-semibold md:text-3xl"
              th:text="${#strings.defaultString(error.title, 'Internal server error')}"
            ></p>
            <p th:if="${not #strings.isEmpty(error.detail)}" class="mb-8 text-gray-500" th:text="${error.detail}"></p>
            <a
              th:href="@{${site.url}}"
              class="whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white"
            >
              <span class="i-tabler-arrow-left text-lg transition-all group-hover:-translate-x-1"></span>
              <span th:text="#{page.error.backToHome}"></span>
            </a>
          </div>
        </div>
      </section>
    </div>
    <th:block th:replace="~{modules/sidebar :: sidebar(prepend = null)}" />
  </section>
</include>
